---
---
@import "group";

.add-item {
    display: flex;
    flex-direction: column;
    flex: 1;
}
.add-item[hidden] {
    display: none !important;
}

.add-item label {
    font-size: 1.2em;
    margin-bottom: 8px;
    text-transform: capitalize;
}

.add-item input, .add-item textarea {
    margin-bottom: 8px;
    padding: 8px;
    border: 1px solid rgba(0,0,0,0.1);
}

.add-item textarea {
    flex: 1;

    min-height: 120px;
    resize: none;
}   

.add-item button {
    align-self: flex-end;

    padding: 8px;
}

.add-item .fields {
    display: flex;
    flex-direction: column;
}

.__login-warning {

}