---
---

.breadcrumb {
    display: flex;
    flex-direction: row;
    align-items: center;  
    align-self: flex-start;

    position: relative;
    left: calc((100vw - 870px) / 2);
    margin-bottom: 16px;

    p {
        text-transform: capitalize;
    }  

    span {
        margin: 0 4px;
    }
}

@media (max-width: 870px) {
    .breadcrumb {
        left: 16px;
    }
}