---
---

.wrapper > section.card {
    padding: 0 !important;
    background: transparent;
    box-shadow: none;
}

.wrapper > section.card {
    > a.card {
        margin-bottom: 16px;

        h2 {
            margin-bottom: 0;
        }
    }
    > a.card:last-child {
        margin-bottom: 0;
    }
}