---
---

.forum {
    display: flex;
    flex-direction: column;

    width: 100%;

    a {
        border-bottom: 1px solid #E0E0E0;
        padding: 16px 0;
    }
    a:last-child {
        border: none;
    }
}