---
---



.item__header {
    border-bottom: 1px solid #E0E0E0;
    padding-bottom: 16px;
}

.item__header__top {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}
.item__header__top__content {
    display: flex;
    flex-direction: row;
    align-items: center;

    margin-bottom: 16px;
}
.item__header__top__buttons {
    button {
        padding: 8px;
        margin-left: 8px;
    }
    button:first-child {
        margin-left: 0;
    }
}

.item__photo, .reply__photo {
    width: 48px;
    height: 48px;
    display: block;
    position: relative;
    margin-right: 16px;
    border-radius: 50%;
}
.item__photo:after, .reply__photo:after {
    content: "";
    height: 48px;
    width: 48px;
    background-image: url(/assets/static/user-photo-placeholder.svg);
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-size: 48px;
}
.item__name, .reply__name {
    text-transform: capitalize;
    font-weight: bold;
    margin-bottom: 4px;
}
.item__date, .reply__date {
    font-size: 0.75em;
    color: #757575;
}

.reply {
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid #E0E0E0;
    margin-top: 16px;    
}

.reply button {
    padding: 8px;
}

.reply__text {
    display: flex;
    flex-direction: column;
    margin-bottom: 16px;
    width: 100%;

    section {
        margin: 6px 0 12px 0;
    }
}
.reply__header {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.reply__image {
    margin-top: 16px;
}

.reply:last-child {
    border-bottom: none;
}

.reply-form {
    border-top: 1px solid #E0E0E0;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-top: 16px;

    textarea {
        flex: 1;
        border: none;
        resize: none;
        margin: 8px;
        font-size: 1em;
        height: 32px;
        line-height: 1.7;
    }

    label {
        display: flex;

        padding: 0 12px;
    }

    button {
        padding: 0 8px;
    }
}
.reply-form[hidden] {
    display: none;
}

.login-warning {
    padding: 16px 16px 0 16px;
    border-top: 1px solid #E0E0E0;
}