---
---
@import "group";

.list {
    display: flex;
    flex-direction: column;
    min-height: 56px;
}
.list[hidden] {
    display: none;
}

.list-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    h2 {
        margin-bottom: 0;
    }
}
.list-header__add-item {
    text-transform: uppercase;
    font-weight: bold;
    color: #212121;
    padding: 8px 0;
}
.list-header__add-item:hover {
    text-decoration: none;
}

.list__sticky .list-item:last-child {
    margin-bottom: 24px;
}

.list-item {
    display: flex;
    flex-direction: column;

    border-bottom: 1px solid #E0E0E0;
    padding: 16px 0;

    header {
        display: flex;
        flex-direction: row;
        align-items: baseline;
        justify-content: space-between;

        margin-bottom: 12px;
    }
    a {
        font-size: 1.3em;
    }
}
.list-item:last-child {
    border-bottom: none;
}

.list-item__name {
    margin-right: 8px;
    text-transform: capitalize;
}
.list-item__date {
    font-size: 0.75em;
    color: #757575;
}