<section class="footer">
    <section class="footer__facebook">
        <h3>visit our facebook groups</h3>
        
        <div class="footer__facebook__links">
            <a href="https://facebook.com">facebook group 1</a>
            <a href="https://facebook.com">facebook group 2</a>
            <a href="https://facebook.com">facebook group 3</a>
            <a href="https://facebook.com">facebook group 4</a>
            <a href="https://facebook.com">facebook group 5</a>
            <a href="https://facebook.com">facebook group 6</a>
        </div>
    </section>
</section>