<title>The Talk Groups</title>

<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="manifest" href="/manifest.json">

<script src="https://www.gstatic.com/firebasejs/3.4.0/firebase-app.js" async></script>
<script id="firebase-auth" src="https://www.gstatic.com/firebasejs/3.4.0/firebase-auth.js" async></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-shim/0.35.1/es6-shim.min.js" async defer></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/fetch/1.0.0/fetch.min.js" async defer></script>

{{ include.head }}