<template id="reply">
    <img class="reply__photo" alt="photo">
    {% include admin-actions.html %}
    <section class="reply__text">
        <header class="reply__header">
            <section>
                <p class="reply__name"></p>
                <p class="reply__date"></p>
            </section>
            <button class="reply__delete" hidden>delete</button>
        </header>
        <p class="reply__answer"></p>
        <img class="reply__image" alt="image" hidden>
    </section>
</template>

{% include error-message.html %}
{% include kick-user-prompt.html %}

<section class="item__header">
    <header class="item__header__top">
        <section class="item__header__top__content">
            <img class="item__photo" alt="photo">
            {% include admin-actions.html %}
            <section>
                <p class="item__name"></p>
                <p class="item__date"></p>
            </section>
        </section>
        <section class="item__header__top__buttons" hidden>
            <button class="item__sticky" hidden></button>
            <button class="item__delete">delete</button>
        </section>
    </header>
    <h2 class="item__title"></h2>
    <img class="item__spinner spinner" src="/assets/static/spinner.png" alt="spinner" hidden>
    <p class="item__content"></p>
</section>    

<img class="replys__spinner spinner" src="/assets/static/spinner.png" alt="spinner" hidden>
<p class="replys__no-replys" hidden>there are no replys yet</p>
<section class="replys">
</section>

<section class="login-warning">
    <p><a href="/sign-in.html">sign in</a> to reply</p>
</section>

<form class="reply-form" hidden>
    <label for="image">
        <img class="reply-form__uploaded-image" alt="uploaded image" hidden>
        <img src="/assets/static/ic_camera_alt_black_24px.svg" alt="upload photo">
    </label>
    <input id="image" name="image" type="file" accept="image/*" hidden>
    <textarea id="answer" name="answer" placeholder="type your answer here..." required></textarea>
    <button type="submit">reply</button>
</form>

{% include pagination.html %}