<section class="kick-user-prompt card" hidden>
    <h2>kick user</h2>
    <section class="kick-user-prompt__inputs">
        <input class="kick-user-prompt__amount" name="amount" type="number" min="0">
        <select class="kick-user-prompt__measurement" name="measurement">
            <option value="60">minutes</option>
            <option value="3600">hours</option>
            <option value="86400">days</option>
        </select>
    </section>
    <section class="kick-user-prompt__buttons">
        <button class="kick-user-prompt__cancle">cancle</button>
        <button class="kick-user-prompt__button">kick</button>
    </section>
</section>