@import "common";

.breadcrumb {
    display: flex;
    flex-direction: row; 
    align-items: center;
    align-self: flex-start;

    position: relative;
    margin-bottom: 16px;
    left: calc((100vw - 870px) / 2);
    
    p {
        text-transform: capitalize;
    }  

    span {
        margin: 0 4px;
    }
}

img {
    max-width: 100%;
}

@media (max-width: 870px) {
    .minor-header {
        padding: 0 16px;
    }

    .breadcrumb {
        left: 16px;
    }
}