@import "common";

.breadcrumb {
    display: flex;
    flex-direction: row; 
    align-items: center;
    align-self: flex-start;

    position: relative;
    margin-bottom: 16px;
    left: calc((100vw - 870px) / 2);
    
    p {
        text-transform: capitalize;
    }  

    span {
        margin: 0 4px;
    }
}

img {
    max-width: 100%;
}

.pagination {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #E0E0E0;
    padding: 16px 0;
    justify-content: center;
}
.pagination[hidden] {
    display: none;
}

.pagination__page {
    font-size: 1em;
    margin: 0 16px;
}

.pagination__prev.disabled, .pagination__next.disabled {
    color: #9E9E9E;
} 
.pagination__prev.disabled:hover, .pagination__next.disabled:hover {
    text-decoration: none;
}

.spinner {
    align-self: center;

    margin: 16px 0;
    width: 24px;
    height: 24px;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-name: spin;
    animation-timing-function: linear;
}

@keyframes spin {
    from { transform: rotate(0) }
    to { transform: rotate(360deg) }
}

.error {
    text-transform: lowercase;
    padding: 16px;

    a {
        text-transform: lowercase;
    }
}

@media (max-width: 870px) {
    .minor-header {
        padding: 0 16px;
    }

    .breadcrumb {
        left: 16px;
    }
}