@import "common";

.breadcrumb {
    display: flex;
    flex-direction: row; 
    align-items: center;
    align-self: flex-start;

    position: relative;
    margin-bottom: 16px;
    left: calc((100vw - 870px) / 2);
    
    p {
        text-transform: capitalize;
    }  

    span {
        margin: 0 4px;
    }
}

img {
    max-width: 100%;
}

.pagination {
    display: flex;
    flex-direction: row;
    border-top: 1px solid #E0E0E0;
    padding: 16px 0;
    justify-content: center;
}
.pagination[hidden] {
    display: none;
}

.pagination__page {
    font-size: 1em;
    margin: 0 16px;
}

.pagination__prev, .pagination__next {
    color: #9E9E9E;
} 
.pagination__prev:hover, .pagination__next:hover {
    text-decoration: none;
}

.pagination__prev[href]:hover, .pagination__next[href]:hover {
    text-decoration: underline;
}
.pagination__prev[href], .pagination__next[href] {
    color: #616161;
}

@media (max-width: 870px) {
    .minor-header {
        padding: 0 16px;
    }

    .breadcrumb {
        left: 16px;
    }
}