{% assign data = site.data[page.group] %}
{% assign path = page.url | replace_first: "/", "" | split: "/" %}
{% assign last = path | last %} 
{% assign url = "" %}
<!DOCTYPE html>
<html>

<head>
    <style>
        @media (max-width: 550px) {
            .header__user {
                top: 155px !important;
            }
        }
    </style>

    {% include head.html head=page.head %}
</head>


<body>
    {% include header.html 
        title=data.header.title
        image=data.header.image 
        dataUrl=data.header.dataUrl 
        color=data.header.color 
        width=data.header.width 
        height=data.header.height
        url=data.baseUrl
    %}

    <section class="breadcrumb">
        <a href="/">Home</a>
        <span>/</span>
        {% for piece in path %}
            {% assign url = url | append: "/" | append: piece | downcase %}
            {% assign displayPiece = piece | replace_first: ".html", "" | replace: "-", " " %}
            {% if piece != last %}
                <a href="{{ url }}">{{ displayPiece }}</a>
                <span>/</span>
            {% else %}
                <p>{{displayPiece}}</p>
            {% endif %}
        {% endfor %}
    </section>

    <div class="wrapper">
        <nav class="navigation card">
            <button class="navigation__close-nav-button" hidden>
                <img src="/assets/static/ic_menu_black_24px.svg" alt="close menu">
            </button> 
 
            <a href="{{ data.baseUrl }}/forum/">Forum</a>
            <a href="{{ data.baseUrl }}/general-hr.html">General HR</a>
            <a href="{{ data.baseUrl }}/test-kits.html">Test Kits</a>
            <a href="/sign-in.html" class="header__top-bar__sign-in-button" hidden>sign in</a>
        </nav>

        {% include user-card.html %}

        <section class="card">{{ content }}</section>
    </div>

    {% include footer.html %}

    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-85930130-1', 'auto');
    ga('send', 'pageview');

    </script>
</body>

</html>