{% assign path = page.url | replace_first: "/", "" | split: "/" %}
{% assign last = path | last %} 
{% assign url = "" %}

<!DOCTYPE html>
<html>

<head>
    {% include head.html head=page.head %}

    <link rel="stylesheet" href="/css/group.css" async>

    <script>
        const GROUP = "{{ page.group }}";
    </script>
</head>

<body>
    {% include header.html 
        title=page.header.title
        image=page.header.image 
        color=page.header.color 
        width=page.header.width 
        height=page.header.height 
        url=page.baseUrl
    %}

    <section class="breadcrumb">
        <a href="/">Home</a>
        <span>/</span>
        {% for piece in path %}
            {% assign url = url | append: "/" | append: piece | downcase %}
            {% assign displayPiece = piece | replace_first: ".html", "" | replace: "-", " " %}
            {% if piece != last %}
                <a href="{{ url }}">{{ displayPiece }}</a>
                <span>/</span>
            {% else %}
                <p>{{displayPiece}}</p>
            {% endif %}
        {% endfor %}
    </section>

    <div class="wrapper">
        <nav class="navigation card">
            <button class="navigation__close-nav-button" hidden>
                <img src="/assets/ic_menu_black_24px.svg" alt="close menu">
            </button> 
 
            <a href="{{ page.baseUrl }}/general-hr">General HR</a>
            <a href="{{ page.baseUrl }}/test-kits">Test Kits</a>
            <a href="{{ page.baseUrl }}/forum">Forum</a>

        </nav>

        <section class="card">{{ content }}</section>
    </div>

    {% include footer.html %}
</body>

</html>